<h1>Login</h1>

<%= form_for log_in_path do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control"  %>
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control"  %>
  <%= f.submit "Sign in", class: "btn btn-default" %>
<% end %>
