<!DOCTYPE html>
<html>
  <head>
    <title>Stackoverflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <% if current_user != nil %>
         <%= link_to "Log Out", log_out_path %>
      <% else %>
        <%= link_to "Sign in", log_in_path %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
